<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-secondary">
      <img src=".\Assets\images\logo.png" class="logo">
      <h6 class="nav_colour">&copy; Copyright 2022. All Rights reserved.</h6>
    </nav>
  </footer>