<!-- footer.ejs, Ming Jie Wang, 301188372, Oct.2,2022 -->
<!-- footer section -->
<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>